body { font-family: 'Oxygen', sans-serif; font-size: 16px; line-height: 26px; max-width: 24rem; margin: 0px auto; padding: 0 0.5rem; color: #404040;}
p { margin-top: 40px}
.fa { position: absolute; left: -4rem; }
.fa-stack {position: absolute; }
.logo { display: block; position: relative; left: 0; margin-top:30px;}
h2 {margin-bottom: 0}
h2 i.fa { margin-bottom: 20px; }
.cred { font-size: 70%; }
.cred img { height: 2em; position: relative; width: auto; top: .7em; }
.container { position: relative; margin-left: 5rem; margin-right: 0.5rem;}
img { max-width: 14em; width: 90%; } 
